language: node_js
node_js:
  - '16'
addons:
  chrome: stable
script:
  - npm run build
  - npm run lint
  - npm run test.ci
before_deploy:
  - npm run prebuild
  - cp README.md LICENSE dist/config
  - cd dist/config
deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_API_KEY
  skip_cleanup: true
  on:
    tags: true
